body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 11%;
  height: auto;
  object-fit: contain;
  margin: 5px;
}

h1 {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.Greeting {
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid pink;
  padding: 5px;
}

.Random {
  border: 2px solid black;
}

.idContent {
  text-align: left;
  margin-left: 10px;
}

.idCard {
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin: 5px;
}

.BoxColor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
  border: solid;
  margin: 10px;
}

.CreditCardSection {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.CreditCard {
  margin: 20px;
  height: 220px;
  width: 500px;
  border-radius: 15px;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.CreditCard img {
  width: 60px;
}

.CreditCardNumber {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.bank {
  margin-left: 30px;
}
